<body>
  <div class="row" style="padding-top: 10px">
    <div class="col-lg-6">
      <h1>
        Carga Masiva de Colaboradores
        <i
          nz-icon
          nzType="info-circle"
          nzTheme="twotone"
          nz-popover
          [nzPopoverContent]="contentTemplate"
          nzPopoverTrigger="hover"
          class="center"
        ></i>
      </h1>
    </div>
  </div>
  <ng-template #contentTemplate>
    <div>
      <p>
        Este módulo le permite ingresar multiples colaboradores con un solo
        archivo formato Excel
      </p>
    </div>
  </ng-template>
  <br /><br /><br />
  <form [formGroup]="reqForm">
    <nz-form-item>
      <nz-form-label
        [nzSm]="8"
        nzRequired
        nzTooltipTitle="Debe seguir los lineamientos para verificar la validez del archivo."
        >Archivo</nz-form-label
      >
      <nz-form-control [nzSm]="8">
        <input
          nz-input
          class="form-control"
          type="file"
          formControlName="archivo"
          (change)="onFileChange($event)"
          multiple="false"
          id="formFile"
        />
        <div class="form-text" style="text-align: left">(Requerido)</div>
      </nz-form-control>
    </nz-form-item>
  </form>
  <nz-table id="deptos" nzTemplateMode hidden>
    <thead>
      <tr>
        <th style="text-align: center">ID</th>
        <th style="text-align: center">Descripcion</th>
      </tr>
    </thead>
    <tbody style="text-align: center">
      <tr *ngFor="let depto of listDeptos">
        <td>{{ depto.id }}</td>
        <td>{{ depto.descripcion }}</td>
      </tr>
    </tbody>
  </nz-table>
  <nz-table id="planillas" nzTemplateMode hidden>
    <thead>
      <tr>
        <th style="text-align: center">ID</th>
        <th style="text-align: center">Descripcion</th>
        <th style="text-align: center">Tipo</th>
      </tr>
    </thead>
    <tbody style="text-align: center">
      <tr *ngFor="let plani of listTP">
        <td>{{ plani.id }}</td>
        <td>
          {{ plani.descripcion }}
        </td>
        <td>
          {{ plani.tipo }}
        </td>
      </tr>
    </tbody>
  </nz-table>
  <nz-table id="template" nzTemplateMode hidden>
    <thead>
      <tr>
        <th>nombres</th>
        <th>apellidos</th>
        <!-- <th>email</th> -->
        <th>n_Cedula</th>
        <th>direccion</th>
        <th>fechaNac</th>
        <th>fechaIngreso</th>
        <th>genero</th>
        <th>salarioBase</th>
        <th>departamentoID</th>
        <th>planillaID</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!-- <td></td> -->
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <!-- <td></td> -->
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <!-- <td></td> -->
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <!-- <td></td> -->
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <!-- <td></td> -->
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <!-- <td></td> -->
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <!-- <td></td> -->
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </nz-table>
  <nz-table
    #basicTable
    [nzData]="listFinal"
    nzPaginationPosition="top"
    nzBordered
    nzTemplateMode
    id="table"
  >
    <thead>
      <tr>
        <th scope="col" style="text-align: center">Nombre Completo</th>
        <th scope="col" style="text-align: center">N° Cédula</th>
        <th scope="col" style="text-align: center">Dirección</th>
        <!-- <th scope="col" style="text-align: center">Email</th> -->
        <th scope="col" style="text-align: center">Genero</th>
        <th scope="col" style="text-align: center">Fecha de Nacimiento</th>
        <th scope="col" style="text-align: center">Fecha de Ingreso</th>
        <th scope="col" style="text-align: center">Salario Base</th>
        <th scope="col" style="text-align: center">Departamento</th>
        <th scope="col" style="text-align: center">Planilla</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="11" *ngIf="listFinal?.length <= 0">
          <nz-empty
            [nzNotFoundImage]="notFound"
            [nzNotFoundContent]="contentTpl"
          ></nz-empty>
          <ng-template #contentTpl>
            <span>No hay datos.</span>
          </ng-template>
        </td>
      </tr>
      <tr></tr>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.nombres }} {{ data.apellidos }}</td>
        <td>{{ data.n_Cedula }}</td>
        <td>{{ data.direccion }}</td>
        <!-- <td>{{ data.email }}</td> -->
        <td>{{ data.genero }}</td>
        <td>
          {{ data.fechaNac | date : "dd/MM/yyyy" }}
        </td>
        <td>
          {{ data.fechaIngreso | date : "dd/MM/yyyy" }}
        </td>
        <td>{{ data.salarioBase | currency : "LPS " }}</td>
        <td>{{ data.departamentoID }}</td>
        <td>{{ data.planillaID }} - {{ data.tipo }}</td>
      </tr>
    </tbody>
  </nz-table>
  <div class="main_content" style="padding-top: 2%">
    <button
      nz-button
      (click)="upload()"
      id="btnSubir"
      style="margin-right: 2%"
      nzType="primary"
      [disabled]="reqForm.invalid && this.listFinal == null"
    >
      <i nz-icon nzType="upload" class="center" nzTheme="outline"></i>Subir
    </button>
    <button
      nz-button
      style="margin-right: 2%"
      (click)="clean()"
      nzType="primary"
      nzDanger
    >
      <i nz-icon nzType="delete" class="center" nzTheme="fill"></i>Limpiar
    </button>
    <button nz-button nzType="primary" nzShape="round" (click)="exportExcel()">
      <i
        nz-icon
        nzType="cloud-download"
        class="centerSmall"
        nzTheme="outline"
      ></i
      >Descargar plantilla
    </button>
  </div>
</body>
