<h1 *ngIf="isAddMode">Agregar Usuario</h1>
<h1 *ngIf="!isAddMode">Editar Usuario</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col">
      <label for="firstName">Nombres</label>
      <input
        placeholder="Ingresa los nombres"
        type="text"
        formControlName="firstName"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
      />
      <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
        <div *ngIf="f.firstName.errors.required">Nombres son requeridos</div>
      </div>
    </div>
    <div class="form-group col">
      <label for="lastName">Apellidos</label>
      <input
        placeholder="Ingresa los apellidos"
        type="text"
        formControlName="lastName"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
      />
      <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
        <div *ngIf="f.lastName.errors.required">Apellidos son requerido</div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col">
      <label for="username">Usuario</label>
      <input
        type="text"
        formControlName="username"
        placeholder="Ingresa tu usuario"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
      />
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required">Usuario es requerido</div>
      </div>
    </div>
    <div class="form-group col">
      <label for="password">
        Contraseña
        <em *ngIf="!isAddMode"
          >(Deja el campo en blanco si deseas conservar la misma contraseña)</em
        >
      </label>
      <input
        placeholder="Ingresa tu contraseña"
        type="password"
        formControlName="password"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
      />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Contraseña es requerida</div>
        <div *ngIf="f.password.errors.minlength">
          La contraseña debe tener al menos de 8 caracteres
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col">
      <form [formGroup]="selected" (ngSubmit)="onSubmit()">
        <label for="username">Rol del Usuario</label>
        <select
          class="form-select"
          formControlName="roles"
          (ngModelChange)="changelabel($event)"
        >
          <option value="" selected disabled>
            Selecciona un rol para el usuario
          </option>
          <option value="1">Admin</option>
          <option value="2">Digitador</option>
          <option value="3">Usuario</option>
        </select>
      </form>
      <input type="hidden" formControlName="role" />
      <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
        <div *ngIf="f.role.errors.required">Rol del usuario es requerido</div>
      </div>
    </div>
    <div class="form-group col">
      <label for="lastName">Email</label>
      <input
        placeholder="Ingresa un email"
        type="email"
        formControlName="email"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
      />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email es requerido</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button nz-button nzType="primary" [disabled]="loading">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span
      >Guardar
    </button>
    <button
      style="margin-left: 10px"
      routerLink="/users"
      nz-button
      nzType="primary"
      nzDanger
    >
      Cancelar
    </button>
  </div>
</form>
