.center {
    vertical-align: middle;
    text-align: center;
    margin-bottom: 5px;
  }
  #cssTable td {
    text-align: center;
    vertical-align: middle;
  }
  #cssTable th {
    text-align: center;
    vertical-align: middle;
  }
  .centerSmall {
    vertical-align: middle;
    text-align: center;
    margin-bottom: 2px;
  }
  .centerNube {
    vertical-align: middle;
    text-align: center;
    margin-bottom: 2px;
  }