<div style="padding-top: 10px">
  <h1>Bienvenido {{ user.firstName }} {{ user.lastName }}! 😎</h1>
  <p>
    Su nivel de acceso es de: <strong>{{ user.rol }}</strong
    >.
  </p>
</div>
<br />
<div>
  <div class="card">
    <div class="card-body">
      <table>
        <td>
          <h1 class="text-uppercase small mb-2">
            <strong>COLABORADORES</strong>
          </h1>
          <h5 class="font-weight-bold mb-0">Por Departamento (Con mas de 5 empleados activos)</h5>
          <canvas style="height: 300px" class="card-body" id="canvas">{{ chart }}</canvas>
        </td>
        <td>
          <h1 class="text-uppercase small mb-2">
            <strong>COLABORADORES RECLUTADOS Y DESPEDIDOS</strong>
          </h1>
          <h5 class="font-weight-bold mb-0">Por Mes al Año (Año actual por defecto)</h5>
          <nz-form-label [nzSm]="8" [nzXs]="24">Seleccionar Año</nz-form-label>
          <nz-select
            [(ngModel)]="selectedValue"
            style="width: 150px"
            [nzOptions]="listOfOption"
            (ngModelChange)="selectedYear($event)"
            nzAllowClear
            nzPlaceHolder="Elija"
          >
          </nz-select>
          <canvas class="card-body" width="900" id="canvas6">{{ chart6 }}</canvas>
        </td>
      </table>
    </div>
  </div>
</div>
<div>
  <div class="card">
    <div class="card-body">
      <table>
        <td>
          <h1 class="text-uppercase small mb-2">
            <strong>COLABORADORES</strong>
          </h1>
          <h5 class="font-weight-bold mb-0">Por Planilla</h5>
          <canvas class="card-body" id="canvas2">{{ chart2 }}</canvas>
        </td>
        <!-- <td>
          <h1 class="text-uppercase small mb-2"><strong>EVENTOS</strong></h1>
          <h5 class="font-weight-bold mb-0">Por Tipo</h5>
          <canvas class="card-body" id="canvas3">{{ chart3 }}</canvas>
        </td> -->
        <td>
          <h1 class="text-uppercase small mb-2">
            <strong>COLABORADORES</strong>
          </h1>
          <h5 class="font-weight-bold mb-0">Por Disponibilidad</h5>
          <canvas class="card-body" id="canvas4">{{ chart4 }}</canvas>
        </td>
        <td>
          <div style="height: 350px">
            <h1 class="text-uppercase small mb-2">
              <strong>TOTAL ABONADO</strong>
            </h1>
            <h5 class="font-weight-bold mb-0">Por Planilla (Mes actual por defecto)</h5>
            <nz-form-label [nzSm]="8" [nzXs]="24">Seleccionar Fecha</nz-form-label>
            <nz-range-picker [(ngModel)]="date" [nzFormat]="this.dateFormat" [nzRanges]="ranges" (ngModelChange)="onChange($event)"></nz-range-picker>
            <canvas class="card-body" style="width: 700px" id="canvas5">{{ chart5 }}</canvas>
          </div>
        </td>
      </table>
    </div>
  </div>
</div>
