<div class="row" style="padding-top: 10px">
  <h1>Administración de Roles</h1>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Crear Roles" (nzOnCancel)="handleCancel()" (nzOnOk)="guardarRol()" nzClosable="false">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="RolForm">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="descripcion">Descripción</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input type="text" formControlName="descripcion" style="width: 90%" placeholder="ej. Administrador , Gerente" />
        </nz-form-control>
      </nz-form-item>
      <span class="text-danger ml-3" *ngIf="RolForm.get('descripcion').hasError('required') && RolForm.get('descripcion').touched">
        El nombre del rol es requerido</span
      >
    </form>
    <div>
      <article class="card-container">
        <h3 style="text-align: center">
          <strong>PERMISOS DE ACCESO DEL ROL</strong>
        </h3>
      </article>
      <div>
        <div class="card">
          <div class="card-body">
            <tr>
              <td>
                <label
                  ><strong>Dashboard </strong>
                  <nz-switch [ngModel]="switchValue" [nzCheckedChildren]="checkedTemplate" [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
                  <ng-template #checkedTemplate><i nz-icon nzType="check"></i></ng-template>
                  <ng-template #unCheckedTemplate><i nz-icon nzType="close"></i></ng-template
                ></label>
              </td>
            </tr>

            <tr>
              <td>
                <nz-switch nzSize="small" [ngModel]="true"></nz-switch>
                <label>Reportes</label>
              </td>
            </tr>

            <tr>
              <td>
                <nz-switch nzSize="small" [ngModel]="true"></nz-switch>
                <label>Perfil</label>
              </td>
            </tr>
          </div>
        </div>
      </div>
      <div>
        <div class="card">
          <div class="card-body">
            <tr>
              <td>
                <label
                  ><strong>Informacion </strong>
                  <nz-switch [ngModel]="true" [nzCheckedChildren]="checkedTemplate" [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
                  <ng-template #checkedTemplate><i nz-icon nzType="check"></i></ng-template>
                  <ng-template #unCheckedTemplate><i nz-icon nzType="close"></i></ng-template
                ></label>
              </td>
            </tr>

            <tr>
              <td>
                <nz-switch nzSize="small" [ngModel]="true"></nz-switch>
                <label>Planillas</label>
              </td>
            </tr>

            <tr>
              <td>
                <nz-switch nzSize="small" [ngModel]="true"></nz-switch>
                <label>Departamentos</label>
              </td>
            </tr>
          </div>
        </div>
      </div>
      <div>
        <div class="card">
          <div class="card-body">
            <tr>
              <td>
                <label
                  ><strong>Nóminas </strong>
                  <nz-switch [ngModel]="true" [nzCheckedChildren]="checkedTemplate" [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
                  <ng-template #checkedTemplate><i nz-icon nzType="check"></i></ng-template>
                  <ng-template #unCheckedTemplate><i nz-icon nzType="close"></i></ng-template
                ></label>
              </td>
            </tr>

            <tr>
              <td>
                <nz-switch nzSize="small" [ngModel]="true"></nz-switch>
                <label>Nuevo Cálculo</label>
              </td>
            </tr>

            <tr>
              <td>
                <nz-switch nzSize="small" [ngModel]="true"></nz-switch>
                <label>Historial de Calculos</label>
              </td>
            </tr>
          </div>
        </div>
      </div>
      <div>
        <div class="card">
          <div class="card-body">
            <tr>
              <td>
                <label
                  ><strong>Colaboradores </strong>
                  <nz-switch [ngModel]="true" [nzCheckedChildren]="checkedTemplate" [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
                  <ng-template #checkedTemplate><i nz-icon nzType="check"></i></ng-template>
                  <ng-template #unCheckedTemplate><i nz-icon nzType="close"></i></ng-template
                ></label>
              </td>
            </tr>

            <tr>
              <td>
                <nz-switch nzSize="small" [ngModel]="true"></nz-switch>
                <label>Listado de Colaboradores</label>
              </td>
            </tr>

            <tr>
              <td>
                <nz-switch nzSize="small" [ngModel]="true"></nz-switch>
                <label>Dar de Alta / Completar</label>
              </td>
            </tr>

            <tr>
              <td>
                <nz-switch nzSize="small" [ngModel]="true"></nz-switch>
                <label>Dar de Baja / Completar</label>
              </td>
            </tr>
            <tr>
              <td>
                <nz-switch nzSize="small" [ngModel]="true"></nz-switch>
                <label>Carga Masiva</label>
              </td>
            </tr>
          </div>
        </div>
      </div>
      <div>
        <div class="card">
          <div class="card-body">
            <tr>
              <td>
                <label
                  ><strong>Eventos </strong>
                  <nz-switch [ngModel]="true" [nzCheckedChildren]="checkedTemplate" [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
                  <ng-template #checkedTemplate><i nz-icon nzType="check"></i></ng-template>
                  <ng-template #unCheckedTemplate><i nz-icon nzType="close"></i></ng-template
                ></label>
              </td>
            </tr>
          </div>
        </div>
      </div>
      <div>
        <div class="card">
          <div class="card-body">
            <tr>
              <td>
                <label
                  ><strong>Seguridad </strong>
                  <nz-switch [ngModel]="true" [nzCheckedChildren]="checkedTemplate" [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
                  <ng-template #checkedTemplate><i nz-icon nzType="check"></i></ng-template>
                  <ng-template #unCheckedTemplate><i nz-icon nzType="close"></i></ng-template
                ></label>
              </td>
            </tr>

            <tr>
              <td>
                <nz-switch nzSize="small" [ngModel]="true"></nz-switch>
                <label>Roles</label>
              </td>
            </tr>

            <tr>
              <td>
                <nz-switch nzSize="small" [ngModel]="true"></nz-switch>
                <label>Usuarios</label>
              </td>
            </tr>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</nz-modal>

<div class="row" style="padding-top: 10px">
  <tr>
    <td>
      <nz-input-group [nzPrefix]="prefixTemplateUser">
        <input type="text" (input)="Search()" [(ngModel)]="Roles" nz-input placeholder="Buscar Rol" />
      </nz-input-group>
      <ng-template #prefixTemplateUser><i nz-icon nzType="user"></i></ng-template>
    </td>
    <td>
      <button nz-button style="margin: 10px" nzSize="default" nzType="primary" (click)="showModal()">Nuevo</button>
    </td>
  </tr>
</div>

<div>
  <tr>
    <td>
      <nz-spin nzTip="Cargando..." *ngIf="loading">
        <nz-alert nzType="info" nzMessage="ALERTA" nzDescription="En Breve"> </nz-alert>
      </nz-spin>
    </td>
  </tr>
  <tr>
    <td>
      <mat-paginator [length]="listRol?.length" [pageIndex]="0" [pageSize]="page_size" (page)="handlePage($event)"> </mat-paginator>
      <nz-table class="table table-md table-hover" id="myTable" nzTemplateMode>
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let roles of listRol | paginate : page_size : page_number">
            <td>{{ roles.id }}</td>
            <td>{{ roles.descripcion }}</td>
            <td>
              <button class="btn btn-danger btn-sm" (click)="showDeleteConfirm(roles.id)">
                <i nz-icon nzType="delete" nzTheme="outline"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </td>
  </tr>
</div>
