<nz-layout class="layout">
  <nz-sider
    *ngIf="user"
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <img src="assets\2891524.png" />
      <h1>PLANIFAST</h1>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isInlineCollapsed"
    >
      <!-- <li
        nz-menu
        routerLink="/welcome"
        nzTitle="Inicio"
        *ngIf="isAdminUserDigitador"
        nzIcon="home"
      ></li> -->
      <li
        nz-submenu
        nzOpen
        nzTitle="DASHBOARD"
        *ngIf="isAdmin"
        nzIcon="line-chart"
      >
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/home">Reportes</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/info">Perfil</a>
          </li>
        </ul>
      </li>
      <li
        nz-submenu
        nzOpen
        nzTitle="INFORMACION"
        *ngIf="isAdminDigitador"
        nzIcon="database"
      >
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/tplanilla">Planillas</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/departamento">Departamentos</a>
          </li>
        </ul>
      </li>
      <li
        nz-submenu
        nzOpen
        nzTitle="EVENTOS"
        *ngIf="isAdminUser"
        nzIcon="calendar"
      >
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/eventos">Calendario</a>
          </li>
        </ul>
      </li>

      <li
        nz-submenu
        nzOpen
        nzTitle="NOMINAS"
        *ngIf="isAdminUser"
        nzIcon="folder-open"
      >
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/calculo">Nuevo Cálculo</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/historial">Historial</a>
          </li>
          <!-- <li nz-menu-item nzMatchRouter>
            <a routerLink="/vacaciones">Vacaciones</a>
          </li> -->
        </ul>
      </li>

      <li
        nz-submenu
        nzOpen
        nzTitle="COLABORADORES"
        *ngIf="isAdminDigitador"
        nzIcon="team"
      >
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/listado">Lista</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/agregar">Dar de Alta</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/rebajar">Dar de Baja</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/entrada">Carga Masiva</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="SEGURIDAD" *ngIf="isAdmin" nzIcon="safety">
        <ul>
          <!-- <li nz-menu-item nzMatchRouter>
            <a routerLink="/rolesagregar">Roles</a>
          </li> -->
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/users">Usuarios</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          >
          </i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <button
          nz-button
          nzType="primary"
          nzDanger
          nzSize="large"
          style="float: right"
          *ngIf="user"
          (click)="logout()"
        >
          <i nz-icon class="center" nzType="poweroff"></i>
          Cerrar Sesión
        </button>
        <alert></alert>
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer class="font-weight-bold mb-0"
      >PlaniFast © 2021 - 2023 | Reggie Murray
      <div class="form-text">
        Build: {{ currentApplicationVersion }}-release
      </div>
    </nz-footer>
  </nz-layout>
</nz-layout>
