/* body {
  background-color: #fa8bff;
  background-image: linear-gradient(45deg, #fa8bff 0%, #2bd2ff 95%);
}
.inner-content {
  background-color: #fa8bff;
  background-image: linear-gradient(45deg, #fa8bff 0%, #2bd2ff 95%);
} */
